<meta charset="UTF-8">
<title>Assignment 2</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { background-color: #D8D8D8;color: #444;}
    h1 {font-weight: bold;text-align: center;}
    header
    { 
        color: #fff; font-size :15px; text-align:right;
    }
    p 
    { 
        margin-bottom :20px;  margin-left: 20px;
    }
     footer 
    {
        text-decoration: overline;
    }
     div 
    { 
        width:100%;position:static; top:0;left:0;
    }
    .just
    {
        text-align: center; 
    }
    ul 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }
    li 
    {
        float: left;
    }
    li a 
    {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    li a:hover 
    {
        background-color: #111111;
    }
    footer
    {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: #333333;
    }
</style>