<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header.ejs'); -%>
</header>

<main>
  <div class="jumbotron">
    <h1>Home</h1>
    <h2>Assignment 2</h2>
    <p>Express Portfolio – Authentication</p>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>
